.reveal .slides section img.bullet-image {
  float: left;
  border: none;
  background: none;
  width: 25%;
  position: relative;
  left: 2%;
  box-shadow: none;
}
.reveal .slides section img.bullet-image {
